<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://arian-func-002.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e4fc0399-4ecf-4e03-b54e-27ab303b2947/resourceGroups/rio-unity-longrunningstoredproc/providers/Microsoft.Web/sites/arian-func-002</ResourceId>
    <UserName>$arian-func-002</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://arian-func-002.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>